:root{

    /* fonts */
    --ff:'Kumbh Sans', sans-serif;
    --fs-name:1.125em;
    --fs-small:0.6875rem;
    /* colors */

    --clr-bg:hsl(185, 75%, 39%);
    --clr-dark-blue: hsl(229, 23%, 23%);
    --clr-grayish-blue:hsl(227, 10%, 46%);
    --clr-dark-gray:hsl(0, 0%, 59%);
    --clr:hsl(228, 45%, 44%);
}


